@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

/* Smooth text rendering */
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}